In [25]:
import pandas as pd
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt

In [26]:
DATA_DIR = "../data"
RAW_DATA_DIR = "../data/raw.csv"

In [27]:
#standart read csv won't work, commas are in names!!! 
n = 4 #number of columns
df = pd.read_csv(RAW_DATA_DIR,
                 usecols=range(n),
                 lineterminator='\n',
                 header=None)

df = df[1:] #take the data less the header row
df.columns = ["user_id", "artistname", "trackname", "playlistname"] #set the header row as the df header

In [ ]:
#FILTER OUT NON ENGLISH CHARACTERS
#either english only or all latin characters

In [28]:
df

,user_id,artistname,trackname,playlistname
1,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,(The Angels Wanna Wear My) Red Shoes,HARD ROCK 2010
2,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,"(What's So Funny 'Bout) Peace, Love And Unders...",HARD ROCK 2010
3,9cc0cfd4d7d7885102480dd99e7a90d6,Tiffany Page,7 Years Too Late,HARD ROCK 2010
4,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,Accidents Will Happen,HARD ROCK 2010
5,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,Alison,HARD ROCK 2010
...,...,...,...,...
12901975,2302bf9c64dc63d88a750215ed187f2c,MÃ¶tley CrÃ¼e,Wild Side,iPhone
12901976,2302bf9c64dc63d88a750215ed187f2c,John Lennon,Woman,iPhone
12901977,2302bf9c64dc63d88a750215ed187f2c,Tom Petty,You Don't Know How It Feels,iPhone
12901978,2302bf9c64dc63d88a750215ed187f2c,Tom Petty,You Wreck Me,iPhone
12901979,2302bf9c64dc63d88a750215ed187f2c,Skid Row,Youth Gone Wild,iPhone

In [60]:
df.groupby("user_id").agg(
    Count=("trackname", "count"),
    
    TrkUniCnt=("trackname", "nunique"),
    TrkRat=("trackname", lambda x: x.nunique()/x.count()),

    #ArtCnt=("artistname", "count"),
    ArtUniCnt=("artistname", "nunique"),
    ArtRat=("artistname", lambda x: x.nunique()/x.count()),

    #PlyCnt=("playlistname", "count"),
    PlyUniCnt=("playlistname", "nunique"),
    PlyRat=("playlistname", lambda x: x.nunique()/x.count()),
    
)
#FEATURE: COMPARE HOW MANY SONGS A PERSON HAS ADDED TO PLAYLISTS vs uniqueness of songs
# unique artists : num of times an artist was added

<ipython-input-60-98ac36d85761>:8: RuntimeWarning: invalid value encountered in long_scalars
  ArtRat=("artistname", lambda x: x.nunique()/x.count()),

,TrkCnt,TrkUniCnt,TrkRat,ArtUniCnt,ArtRat,PlyUniCnt,PlyRat
user_id,,,,,,,
00055176fea33f6e027cd3302289378b,120,120,1.000000,45,0.375000,1,0.008333
0007f3dd09c91198371454c608d47f22,97,95,0.979381,45,0.463918,3,0.030928
000b0f32b5739f052b9d40fcc5c41079,270,266,0.985185,38,0.140741,7,0.025926
000c11a16c89aa4b14b328080f5954ee,716,632,0.882682,363,0.506983,20,0.027933
00123e0f544dee3ab006aa7f1e5725a7,18579,13985,0.752732,1231,0.066261,89,0.004790
...,...,...,...,...,...,...,...
ffe32d5412269f3041c58cbf0dde3306,58,58,1.000000,53,0.913793,2,0.034483
ffec270eae226caa14ddaef291d73fff,32,32,1.000000,4,0.125000,3,0.093750
fff60baf392613ed33f745b89a9b38f7,552,545,0.987319,150,0.271739,42,0.076087
fff616055993498d6127f3f467cf9f2b,3110,2458,0.790354,724,0.234532,20,0.006431
fff77dadf8528083c920b9c018847e8b,295,295,1.000000,124,0.420339,1,0.003390

In [63]:
df.groupby("playlistname").agg(
    Count=("user_id", "count"),
    
    UsrUniCnt=("user_id", "nunique"),
    UsrRat=("user_id", lambda x: x.nunique()/x.count()),

    ArtUniCnt=("artistname", "nunique"),
    ArtRat=("artistname", lambda x: x.nunique()/x.count()),

    TrkUniCnt=("trackname", "nunique"),
    TrkRat=("trackname", lambda x: x.nunique()/x.count()),
)

# UsrUniCnt > 1 = 21822

<ipython-input-63-825f2a06b7cc>:8: RuntimeWarning: invalid value encountered in long_scalars
  ArtRat=("artistname", lambda x: x.nunique()/x.count()),

,Count,UsrUniCnt,UsrRat,ArtUniCnt,ArtRat,TrkUniCnt,TrkRat
playlistname,,,,,,,
,46,4,0.086957,39,0.847826,46,1.0
waves,37,1,0.027027,1,0.027027,37,1.0
11,115,1,0.008696,91,0.791304,115,1.0
Frida,23,1,0.043478,6,0.260870,23,1.0
New tunes 05/11,24,1,0.041667,20,0.833333,24,1.0
...,...,...,...,...,...,...,...
ğŸš‡,86,1,0.011628,9,0.104651,86,1.0
ğŸš˜ğŸšœğŸš€,39,1,0.025641,30,0.769231,39,1.0
ğŸš™,10,1,0.100000,8,0.800000,10,1.0
ğŸš¨ Party Hard,44,1,0.022727,28,0.636364,44,1.0
ğŸš¬,58,1,0.017241,30,0.517241,58,1.0

In [64]:
df.groupby("trackname").agg(
    Count=("user_id", "count"),
    
    UsrUniCnt=("user_id", "nunique"),
    UsrRat=("user_id", lambda x: x.nunique()/x.count()),

    ArtUniCnt=("artistname", "nunique"),
    ArtRat=("artistname", lambda x: x.nunique()/x.count()),

    PlyUniCnt=("playlistname", "nunique"),
    PlyRat=("playlistname", lambda x: x.nunique()/x.count()),
)

<ipython-input-64-9d55f2fd0c53>:8: RuntimeWarning: invalid value encountered in long_scalars
  ArtRat=("artistname", lambda x: x.nunique()/x.count()),
<ipython-input-64-9d55f2fd0c53>:11: RuntimeWarning: invalid value encountered in long_scalars
  PlyRat=("playlistname", lambda x: x.nunique()/x.count()),

,Count,UsrUniCnt,UsrRat,ArtUniCnt,ArtRat,PlyUniCnt,PlyRat
trackname,,,,,,,
""" (Acoustical ) by Everclear""",1,1,1.0,1,1.0,1,1.0
"""Cachaito"" LÃ³pez Y ""Guajiro"" Mirabal De Buena Vista Social Club Y Manuel ""GalbÃ¡n"" Torralba""",2,1,0.5,1,0.5,1,0.5
15 Years of Tummy Touch Records in Dub,1,1,1.0,1,1.0,1,1.0
Alan Jackson,1,1,1.0,1,1.0,1,1.0
Ashley Tisdale,1,1,1.0,1,1.0,1,1.0
...,...,...,...,...,...,...,...
ï¿¾å€€æ„€ç¤€ç€€æ €æ¼€æ¸€æ”€,2,1,0.5,1,0.5,2,1.0
ï¿¾åŒ€æ €ç”€çˆ€æ¤€æ¬€æ”€æ¸€,1,1,1.0,1,1.0,1,1.0
ï¿¾åŒ€ç€çˆ€æ„€æ¸€æœ€æ”€â€€äˆ€æ”€æ €æ„€ç˜€æ¤€æ¼€ç”€çˆ€â€€æ˜€ç€â€€å€æ„€çŒ€æ €æ„€â€€äˆ€æ„€ç €ç€æ”€çˆ€â€€â €ä¼€çˆ€æ¤€æœ€æ¤€æ¸€æ„€æ°€â€€ä´€æ¤€ç €â¤€,1,1,1.0,1,1.0,1,1.0
ï¿¾å€æ €æ”€â€€ä”€æ¸€æ€â€€â €ä”€ç €ç€æ”€æ¸€æ€æ”€æ€â¤€,1,1,1.0,1,1.0,1,1.0
ğŸ¯ğŸ¯ğŸ¯ğŸ¯,5,1,0.2,5,1.0,0,NaN

In [52]:
df.groupby(["artistname", "trackname"]).agg({'user_id':['count', lambda x: x.nunique(), lambda x: x.nunique()/x.count()]})

                                                                               user_id
                                                                                 count
artistname                  trackname
 Dolce                      Hand i hand                                              3
                            Inez Palema                                              3
 OneVoice                   Addictive - Eurovision Malta 2014                        1
                            Breakaway - Eurovision Lithuania 2014                    1
                            Love makes you beautiful - Eurovision Ukraine 2014       1
...                                                                                ...
ï¿¾ä°€æ”€æ´€æ„€æ¤€ç€çˆ€æ”€                   ï¿¾å€æ €æ”€â€€ä”€æ¸€æ€â€€â €ä”€ç €ç€æ”€æ¸€æ€æ”€æ€â¤€                                      1
ï¿¾ä´€æ„€æ€æ”€æ¼€æ¸€                     ï¿¾åŒ€æ €ç”€çˆ€æ¤€æ¬€æ”€æ¸€                                                1
ï¿¾ä´€æ„€çˆ€æ¼€æ¼€æ¸€â€€ã”€â€€æ˜€æ”€æ„€ç€â¸€â€€åœ€æ¤€ç¨€â€€ä¬€æ €æ„€æ°€æ¤€æ˜€æ„€ ï¿¾å€€æ„€ç¤€ç€€æ €æ¼€æ¸€æ”€                                                2
ï¿¾ä´€æ¼€æ€æ”€çŒ€æ”€æ°€æ”€æ¬€ç€æ¼€çˆ€               ï¿¾äœ€çˆ€æ¤€æ°€æ°€çœ€æ„€æ°€æ¬€æ”€çˆ€                                             1
ï¿¾åœ€æ”€â€€åœ€æ”€çˆ€æ”€â€€å€€çˆ€æ¼€æ´€æ¤€çŒ€æ”€æ€â€€ä¨€æ”€ç€ç€€æ„€æŒ€æ¬€çŒ€  ï¿¾ã„€ã€ãœ€ã˜€â€€ä„€æŒ€ç€â€€æ¼€æ¸€â€€ä¤€æ´€ç€€ç”€æ°€çŒ€æ”€                                     1

[2795696 rows x 1 columns]

In [66]:
import re
df['artistname'].apply(lambda x: re.sub(r'[a-zA-Z -]|[0-9]', '', x))

TypeError: expected string or bytes-like object